body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 17, 64);
}

canvas{
    width: 1080px;
    height: 720px;
    background-color: rgb(62, 50, 91);
}